body {
  font-family: "Poppins", sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
}

/* Seccion nuestros servicios y nuestra historia */
.layout_padding,
.layout_padding2 {
  padding: 2% 0;
}

/* Seccion Historias que Inspiran */
.layout_padding-bottom {
  padding-bottom: 4%;
}

/* Titulo secciones en negrita */
.custom_heading {
  color: #000000;
}

/* Titulo secciones en negrita */
.custom_heading span {
  color: #fb8500;
}

/* con before agregamos la linea azul antes de la navbar */
.hero_area::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2%;
  background-color: #023b48;
}

/* contenedor general de la navbar */
.header_section {
  background-color: #f6f8f7;
  padding-top: 1%;
}

/* contenedor de la navbar */
.header_section .container-fluid {
  padding-right: 2%;
  padding-left: 2%;
}

/* Botones navbar */
.navbar-nav .nav-item,
.navbar-nav button {
  padding: 2% 2%;

}

/* Estilo Botones de la barra de navegacion */
.custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
  color: #434242;
  text-transform: uppercase;
  font-size: clamp(0.9rem, 2vw, 1.1rem);
}

/* estilos para los enlaces */
a,
a:hover,
a:focus {
  text-decoration: none;
}

/* estilo para la lupa */
.custom_nav-container i {
  font-size: 150%;
}

/* contenedor logo */
.navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

/* Logo fundacion */
.navbar-brand img {
  max-width: 6rem;
}


/* Icono de menu cuando se achica pantalla */
.custom_nav-container .navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/menu.png);
  background-size: 4rem;
}

/* FIN NAVBAR */

/* Contenedor seccion bienvenida */
.slider_section {
  background-image: url(../images/perro.png);
  padding: 7% 0;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Contenedor texto bievenida */
.slider_section .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* Estilo para el texto + grande de bienvenida */
.slider_detail-box h1 {
  font-size: clamp(1.2rem, 3vw, 3.5rem);
  color: #ffffff;
}

/* estilo pra el texto en negro de bienvenida */
.slider_detail-box h1 span {
  display: inline-block;
  color: #434242;
  font-weight: bold;
}

/* estilo para subtitulo de bienvenida */
.slider_detail-box p {
  color: #f6f8f7;
  margin: 5% 0 5% 0;
  font-size: clamp(1rem, 1.2vw, 1.5rem);
  line-height: 1.7;
}

/* estilo para boton de conocenos y contacto */
.slider_detail-box .btn-box .btn-1,
.slider_detail-box .btn-box .btn-2 {
  display: inline-block;
  padding: 1.8% 5%;
  margin-right: 10px;
}

/* estilo para boton de conocenos */
.slider_detail-box .btn-box .btn-1,
.about_section .detail-box a,
.service_section a {
  display: inline-block;
  background-color: #023b48;
  border: 1px solid #023b48;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;

}

.about_section .detail-box a,
.service_section a {
  padding: 1.8% 3%;
}

.slider_detail-box .btn-box .btn-1:hover,
.about_section .detail-box a:hover,
.service_section a:hover {
  background-color: transparent;
  color: #023b48;
}

/* estilo para boton de contacto */
.slider_detail-box .btn-box .btn-2 {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  color: #023b48;
}

.slider_detail-box .btn-box .btn-2:hover {
  background-color: transparent;
  color: #ffffff;
}

/* SECCION OPINION ADOPTANTES */
/* estilos para el contenedor de los botones del carousel */
.carousel-indicators {
  bottom: -20%;
}

/* estilos para botones del carousel */
.carousel-indicators li {
  width: clamp(0.5rem, 1vw, 1rem);
  height: clamp(0.5rem, 1vw, 1rem);
  border-radius: 100%;
  opacity: 1;
  background-color: #023047 !important;
}

/* estilos para botones del carousel seleccionados */
.carousel-indicators .active {
  background-color: #acacac !important;
}

/* SECCION NUESTRA HISTORIA */
/* estilo para fondo de la seccion */
.about_section {
  background-image: url(../images/about-bg.png);
  background-size: cover;
}

/* estilo para el conteneor de historia */
.about_section .row {
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: center;
}

/* estilo para la imagen */
.about_section .img-box img {
  width: 100%;
}

/* estilo para texto de historia */
.about_section .detail-box p {
  text-align: justify;
}

/* SECCION SERVICIOS DE LA FUNDACION */
.service_section .row .col-md-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

}

/* estilo para imagen de fondo de la seccion */
.service_section {
  background-image: url(../images/fondo.png);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
  position: relative;
}

/* estilo para contenedor de iconos de los servicios */
.service_section .img_box {
  width: auto;
  height: auto;
  background-color: transparent;
  display: inline-block;
  border-radius: 0;
  margin-bottom: 2%;
}

/* estilo para iconos */
.service_section .img_box img {
  width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* estilo para titulos de los servicios*/
.service_section .detail_box h6 {
  font-weight: bold;
  text-align: center;

}

/* estilo para textos de los servicios*/
.service_section .detail_box p {
  text-align: center;
  line-height: 1.5;
}

/* SECCION GALERIA DE RESCATADOS */
.gallery-section {
  background-color: #ffffff;

}

.gallery-section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;

}

/* estilo para titulo en negrita*/
.gallery-section .container strong {
  color: #fb8500;
}

/* estilo para contenedor cards*/
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

/* estilo para card*/
.card-wrapper {
  flex-basis: 15%;
  /* Ajusta el ancho de cada tarjeta */
}

/* estilo para imagen de la card*/
.pet-img {
  width: 100%;
  max-width: 15rem;
  object-fit: cover;
  position: relative;
  margin-bottom: -12rem;
  z-index: 1;
}

/* estilo para cada card*/
.pet-info-card {
  border-radius: 1rem;
  min-height: 15rem;
  background-color: #fff;
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.079);
  position: relative;
  padding-top: 8rem;
  padding-bottom: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* Estilo para texto de card de mascota */
.pet-info-card .mb-1 {
  color: rgb(0, 0, 0);
  font-size: clamp(1.5rem, 3.5vw, 1rem);
  /* Escalable */
  padding: 0.3rem 0.7rem;
  width: fit-content;
}

/* Estilo pra texto de hembra o macho mascot */
.pet-info-card .mb-2 {
  background-color: #023047;
  color: white;
  font-size: clamp(0.8rem, 2.5vw, 0.9rem);
  /* Escalable */
  padding: 0.3rem 0.7rem;
  width: fit-content;
  max-width: 90%;
  border-radius: 0.5rem;
}

/* SECCION HISTORIAS QUE INSPIRAN */
/* Estilo para el contenedor de los comentarios */
.client_section .pl-100 {
  display: flex;
  justify-content: center;
  /* Centra horizontalmente */
  align-items: center;
}

/* estilo para el borde del contenedor de los comentarios */
.client_section .client_container {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  border: 0.1rem solid #5f5b5b;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 30px 0;
}

/* estilo contenedor imagenes adoptantes */
.client_section .client_container .img_box {
  width: 30vw;
  /* 30% del ancho de la ventana */
  max-width: 200px;
  /* no se agranda m치s de 200px */
  aspect-ratio: 1 / 1;
  /* mantiene proporci칩n cuadrada */
  overflow: hidden;
  margin: 0 auto;
  margin-left: -10%;
}

/* estilo para imagen adoptante */
.client_section .client_container .img_box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* recorta sin deformar */
  display: block;
}

/* estilo para texto adoptante */
.client_section .client_container .detail_box {
  padding: 0 5%;
}

/* SECCION MAPS Y CONTACTO */
/* estilo para el contenedo general */
.map_section {
  position: relative;
}

/* estilo para el mapa */
.map_section #map {
  position: absolute;
}

/* estilo para el contenedor formulario contacto */
.map_section .form_container {
  position: relative;
  width: 50%;
  z-index: 9;
}

/* estilo para el formulario contacto */
.map_section .form_container form {
  background-color: rgba(255, 255, 255, 0.98);
  padding: 4vw;
  margin: 4vw 0;
}

/* estilo para los inputs del formulario contacto */
.map_section .form_container input {
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 0.1rem solid #a7a7a7;
  padding-top: 35px;
  width: 100%;
}

/* estilo para el titulo del formulario contacto */
.map_section .form_container h3 {
  color: #023b48;
}

/* estilo para el boton formulario contacto */
.map_section .form_container button {
  padding: 2% 2%;
  background-color: #023b48;
  border: 0.1vw solid #023b48;
  color: #ffffff;
  border-radius: 30px;
  width: 50%;
  margin-top: 5%;
}

/* estilo para el boton seleccionado formulario contacto */
.map_section .form_container button:hover {
  background-color: transparent;
  color: #023b48;
}

/* SECCION FOOTER */
/* Estilo contenedor general */
.info_section {
  background-color: #023b48;
}

/* estilo para contenedor de texto del footer */
.info_section .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 3% 0;
  color: rgb(255, 255, 255);
}

/* estilo para columnas */
.columnas_agrupadas{
  display: flex;
  flex-wrap: wrap;
}


/* estilo para input de correo suscripcion */
.subscribe_form {
  display: flex;
}

/* estilo iput */
.subscribe_form input {
  flex: 1;
  padding: 3%;
  border: none;
}

/* estilo boton eviar correo */
.subscribe_form button {
  background-color: #fb8600;
  border: none;
  padding:2% 5%;
  color: white;
}

/* estilo para iconos */
#iconos_redes_sociales,
#iconos_redes_sociales a {
  text-align: center;
  padding-bottom: 2%;
  color: white;
  margin: 0 2%;
}

/* estilo para texto de derechos */
#derechos {
  text-align: center;
  font-size: clamp(1rem, 2.5vw, 1rem);
  /* Tama침o fluido entre 10px y 14px */
  border-top: 1px solid #ffffff;
  padding: 2% 0;
  color: white;
  line-height: 1.4;
  word-break: break-word;
}

/* estilo para columnas */
.footer_col {
  flex: 1;
  min-width: 12%;
  margin: 1.8%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
/* estilo para columna servicios */
.footer_col ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.footer_col p {
  margin-bottom: 10px;
}

.footer_col a,
.footer_col p {
  text-decoration: none;
  color: #ffffff;
  font-size: clamp(1.1rem, 2.5vw, 0.9rem);
}

#contacto {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0; 
}

#contenedor_formu{
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start; 
}
#box {
  background-color: white;
  width: 100%;
  margin: 0;
  padding: 0;
}

.texto {
  display: flex;
  text-align: left;
  align-items:star; 
  justify-content: start;
  height: 100%;
  padding: 3rem;
  margin-left: 1.5rem;
  background-color: #219ebc;
  width: 100%; 
  color: rgb(255, 255, 255);

}
.info{
  width: 70%; 
}

.info h3{
  color:#023047 ;
}

.info h5,
.info p{
  padding: 0.5rem;
}
.formulario_contenedor{
  padding: 3rem;
  background-color: #ffffff;
}

.left-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0; 
}

.left-panel a {
  color: #00cc66;
  text-decoration: none;
}

.form-control::placeholder {
  color: #aaa;
}

.form-section {
  padding: 40px;
  background-color: #fff;
}

.btn.contacto {
  background-color: #fb8500;
  color: white;
}


.slider_section[data-fondo="contacto"] {
  background-image: url(../images/fondito.png);
  background-position: center 10px; /* ajust치 el -50px a tu gusto */
}